.chkbox{display:none;}
.subscribe_form_text{
height:38px;
width:161px;
overflow:hidden;
float:left;
//margin-right:20px;
}
.subscribe-form{
float:left;
}
#subscribe_form_email{
height:34px;
width:198px;
border:1px solid rgb(255,0,57);
}
#subscribe_form_btn{
height:38px;
width:38px;
background:rgb(255,0,57);
border:1px solid rgb(255, 0, 57);
color:white;
font-weight:bold;
}