#search_field{
border:1px solid rgb(255,0,57);
width:448px;
height:21px;
}
#search_button {
background: none no-repeat scroll center rgb(255, 0, 57); height: 25px; width: 25px;
border:1px solid rgb(255,0,57);
background-image:url('/include/img/search_btn.png');
position: relative;

}
