.catalog_item a{
text-decoration: none;
color:black;
    /*font-size:90%;*/
text-align: center;
}
.catalog_item_container{
position:relative;
float:left;
//overflow:hidden;
width:166px;
height:257px;
margin:0;
}
.catalog_item {
position:relative;
float:left;
border: 1px solid rgb(255,0,57);
overflow:hidden;
width:150px;
height:237px;
margin-left: 5px;
}
.catalog_item_container:hover .catalog_item {
border: 5px solid rgb(255,0,57);
}

.catalog_foto,.catalog_no_foto{
overflow:hidden;
width:152px;
height:152px;
}
.catalog_no_foto,.item_no_foto{
background: url('/include/img/nofoto.png') no-repeat center;
}

.catalog_item_price{
overflow:hidden;
width:148px;
height:24px;
}
.catalog_item_price .decimal{
vertical-align: 0.3em;
font-size: 70%; 
}
.old-price{
 color: black;
font-weight:bold;
font-size:9pt;
text-decoration:line-through
}
.price{
 color: black;
font-weight:bold;
//font-size:9pt;
}
.discount-price{
 color: rgb(255,0,57);
font-weight:bold;
//font-size:9pt;
}
.catalog_item_buy{
position:absolute;
display:none;
top:104px;
background:url('/include/img/buy_panel.png') no-repeat top left;
left:-12px;
width: 180px;
height:55px;
z-index:20;
}
.minus,.plus{
width:15px;
height:14px;
position:absolute;
top:20px;
cursor:pointer;
}
.minus{
left:23px;
background:url('/include/img/minus.png') no-repeat top left;
}
.plus{
left:94px;
background:url('/include/img/plus.png') no-repeat top left;
}
.quantity{
width:49px;
height:30px;
position:absolute;
top:12px;
background:url('/include/img/quantity.png') no-repeat top left;
left:42px;
border:none;
text-align: center;
}

.addtoCart{
width:37px;
height:27px;
position:absolute;
top:13px;
left:117px;
cursor:pointer;
background:url('/include/img/cart.png') no-repeat top left;
border:none;
}
.catalog_item_container:hover .catalog_item_buy{
display:block;
}
.discount_panel{
position:absolute;
top:12px;
background:url('/include/img/discount_panel.png') no-repeat top left;
left:-2px;
width: 65px;
height:32px;
z-index:20;
padding-top:2px;
}
.discount_panel span{
color: white;
text-transform: uppercase;
font-weight: bold;
}
.clear{
clear:both;
}
.listitem-carousel{
width:1008px;
overflow:hidden;
margin-left:-8px;
}
.lsnn{width:2100px;float:left;}
.leftar, .rightar{
width:30px;
height:30px;
background: url('/include/img/arrows.png') no-repeat;
float:right;

}
.leftar{
margin-right: 5px;
background-position:left top;
}
.rightar{
margin-right: 10px;
background-position:right bottom;
}
.leftact{
background-position:left bottom;
}
.rightnoact{
background-position:right top;
}
.foo_moved{
margin-left:-1000px;
}
.div_helper{width:8px;height:257px;float:left;}
.catalog_item_container {margin-top:4px;}
.catalog_item img{
display:inline-block;
vertical-align:middle;
}
.img_helper{
display:inline-block;
vertical-align:middle;
}